
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title-prim-color{
    color: #4E47FF;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-font{

}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 0 150px;
}
.nav-title{
    font-size: 44px;
    font-weight: bolder;
}
.btn-signup{
     padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      font-size: 16px;
}
/* body  */

/* main content */
.main-content{
    text-align: center;
    margin: 100px 200px;
    /* background-image: url(projects/assignment-sis/images/hero.png); */
    background-size: cover;
}
.main-heading{
    font-size: 65px;
      font-weight: 700;
      color: #252432;
}
.btn-stf{
     padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 20px;
}
