
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title-prim-color{
    color: #4E47FF;
      font-size: 36px;
      

}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-font{

}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 0 150px;

}
.nav-title{
    font-size: 44px;
    font-weight: bolder;
}
.btn-signup{
     padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      font-size: 16px;
      transition: all 0.3s ease;

}
.btn-signup:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}



/* header main content */
header{
  background-image: url(../images/hero.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.main-content{
    text-align: center;
    margin: 100px 200px;
    /* background-image: url(../images/hero.png); */
    background-size: cover;
}
.main-heading{
    font-size: 65px;
      font-weight: 700;
      color: #252432;
}
.btn-stf{
     padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 0px 0px 100px 0px;
      cursor: pointer;
      transition: all 0.3s ease;
}
.btn-stf:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}





/* body  */
body{
      /* background-image: url(../images/hero.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat; */
}
.preview-section{
  display: flex;
  justify-content: space-between;
  margin: 40px 150px;
  gap: 40px;
  background-image: white;
  padding: 20px 20px;
   align-items: center;
}
.preview-btn{
  padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 10px 0px 0px 0px;
      cursor: pointer;
      transition: all 0.3s ease; 

}
.preview-btn:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}


.prev-img img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.prev-img{
  text-align: center;
}
.preview-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 20px;
}
.preview-para{
  font-size: 24px;
  font-weight: 250;
  color: #252432;
  max-width: 500px;
  margin-bottom: 20px;
}


/* stat box review */
.review-section{
  text-align: center;
  background-color: #4E47FF;
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
   padding: 40px 30px;
}
.stat-review{
  display: flex;
  justify-content: center;
}