
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title-prim-color{
    color: #4E47FF;
      font-size: 36px;
      

}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-font{

}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 0 150px;

}
.nav-title{
    font-size: 44px;
    font-weight: bolder;
}
.btn-signup{
     padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      font-size: 16px;
      transition: all 0.3s ease;

}
.btn-signup:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}



/* header main content */
header{
  background-image: url(../images/hero.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.main-content{
    text-align: center;
    margin: 100px 200px;
    /* background-image: url(../images/hero.png); */
    background-size: cover;
}
.main-heading{
    font-size: 65px;
      font-weight: 700;
      color: #252432;
}
.btn-stf{
     padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 0px 0px 100px 0px;
      cursor: pointer;
      transition: all 0.3s ease;
}
.btn-stf:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}





/* body  */
body{
}
.preview-section{
  display: flex;
  justify-content: space-between;
  margin: 40px 150px;
  gap: 40px;
  background-image: white;
  padding: 20px 20px;
   align-items: center;
}
.preview-btn{
  padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 10px 0px 0px 0px;
      cursor: pointer;
      transition: all 0.3s ease; 

}
.preview-btn:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}


.prev-img img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.prev-img{
  text-align: center;
}
.preview-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 20px;
}
.preview-para{
  font-size: 24px;
  font-weight: 250;
  color: #252432;
  max-width: 500px;
  margin-bottom: 20px;
}


/* stat box review */
.review-section{
  text-align: center;
  background-color: #6d68ff47;
  border-radius: 20px;
  max-width: 1140px;
  width: 100%;
   padding: 40px 30px;
   justify-content: center;
   align-items: center;
   margin: 10px 200px 10px 150px;
}
.review-section h2{
  font-size: 30px;
  font-weight: bold;
  color: #252432;
}
.stat-review{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  padding: 5px 80px 5px 80px;
}
.stat-num{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  display: block;
  margin bottom: 3px ;

}
.stat-review p{
  font-size: 20px;
  font-weight: 400;
  color: #0000006d;
}
.stat-para{
  text-align: center;
}

/* testimonial section */
 .testimonials {
    background-color: #FFFFFF;
    padding: 60px 20px;
    text-align: center;
  }
  .testimonials h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
  }

.testimonial-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial-card{
  background-color: #e1e1e77f;
  border-radius: 14px;
  text-align: left;
  padding: 20px;
  max-width: 300px;
}

.testimonial-card h3{
font-size: 24px;
font-weight: 700;
color: #1E1E1E;
margin bottom: 4px;
}

.testimonial-card p{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(39, 38, 38, 0.974);
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(73, 65, 230, 0.763);
  transition: transform 0.3s ease;
}
 .testimonial-card:hover {
    transform: translateY(-5px);
  }
.star-icon{
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
    display: flex;
  align-items: center;
}

.reviewer{
  display: flex;
  align-items: center;
  gap: 10px;
}
 .reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
  }
  .reviewer-name{
    font-size: 16px;
    font-weight: 700px;
    color: #757575;
  }
  .review-date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;

  }

  .focus-section{
    /* background-color: #f9fafe; */
    text-align: center;
    padding: 50px 20px;
    justify-content: center;
  }
  .focus-container{
    background-color: #d4d8e38a ;
    margin: 0px 100px 0px 100px;
    padding: 20px 30px;
    justify-content: center;
    border-radius: 20px;
  }
.focus-container h2{
  font-size: 50px;
  font-weight: bold;
}

.focus-container p{
  font-size: 16px;
  font-weight: 400;
  color: #00000066;
  margin-bottom: 20px;
}

.focus-btn{
  padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 10px 0px 10px 0px;
      cursor: pointer;
      transition: all 0.3s ease; 

}
.focus-btn:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}

.focus-img{
  margin-top: 10px;
  margin bottom: 80px;
  border-radius: 50px;
  /* width: 100%; */
}

.contact-section{
padding: 40px 60px;
margin: 50px 100px;
}

.contact-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 40px;
  text-align: left;
}
.contact-text{
  font-size: 60px;
  font-weight: bold ;
  align-items: center;
  justify-content: center;
  color: #000000;
  display: flex;
  min-width: 280px;
  flex: 1;
}
.contact-form{
  display: flex;
  flex-direction: column;
  flex: 1;
  min width: 100px;
  gap: 16px;

}
.contact-form label{
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.contact-form input, .contact-form textarea{
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #FFFFFF;

}
.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #9ca3af;
  }
.contact-form  button{
  padding: 10px 20px;
      background-color: #4E47FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 10px 0px 0px 0px;
      cursor: pointer;
      transition: all 0.3s ease; 

}
.contact-form button:hover {
  background-color: #cd4b13;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.2);
}

.footer-container{
  text-align: center;
  padding: 10px 20px;
  background-color: #FFFFFF;
  justify-content: center;
  
}
.footer-logo{
  font-size: 200px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.footer-container p{
  font-size: 16px;
  font-weight: 400;
  color: #8987A1;
   /* max-width: 600px; */
    /* margin: 0 auto 30px auto; */
}
.footer-container h1{
font-size: 60px;

}
.footer-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  color: #8987A1;
  font-size: 16px;
  font-weight: 400;
}
.footer-nav a{
  text-decoration: none;
  color: #8987A1;
  font-weight: 400;
  }
  .footer-nav a:hover {
    color: #4f46e5;
  }
  .footer-bottom{
    text-align: center;
    font-weight: 600;
    color: #0a0a0a;
  }

